:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLOR VARIABLES */
  --primary-light: #EBDBD1;
  --primary-dark: #3D291C;
  --secondary-light: #986546;
  --secondary-dark: #1F140E;
  --accent-light: #F1B049;
  --accent-dark: #672112;
  --accent-light-hover: #F6C87D;
  --accent-dark-hover: #944E3E;
  --white-light: #F8F8FF;
  --white-dark: #E1D9D1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Philosopher', sans-serif !important;
}

#root {
  width: 100%;
  font-family: 'Philosopher', sans-serif;
}
